<table>
  <thead>
    <th>Daycare Name</th>
    <th>Age Group</th>
    <th>Phone Numbe</th>
    <th>Email Adrress</th>
    <th>City</th>
    <th>Address</th>
    <th>details</th>
  </thead>
  <tbody>
     {{#each daycares as |daycare|}}
    <tr>
      <td>{{daycare.Name}}</td>
      <td>{{daycare.Age_Group}}</td>
      <td>{{daycare.Phone_Number}}</td>
      <td><a href="mailto:{{daycare.Email}}">{{daycare.Email}}</a></td>
      <td>{{daycare.City}}</td>
      <td>{{daycare.Address}}</td>
      {{!-- <td><a href="{{daycare.Details}}">{{daycare.Details}}</a></td> --}}
      <td><a href="{{daycare.Details}}">link</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>


{{!-- 
{{#each daycares as |daycare|}}
<section class="card">
  <a href="#">
    <h2>{{daycare.Name}}</h2>
    {{!-- <img src="/images/{{city.city}}.jpg" alt="{{city.city}}"> --}}
  {{!-- </a>
</section>
{{/each}} --}} 
