<a href="/review"  margin-botton="5px" class="is-pulled-right"> &larr; Back </a>
<table>
  <thead>
    <th>Daycare Name</th>
    <th>Age Group</th>
    <th>Phone Number</th>
    <th>Email Adrress</th>
    <th>City</th>
    <th>Address</th>
    <th>More Details</th>
  </thead>
  <tbody>
     {{#each daycares as |daycare|}}
    <tr>
      <td>{{daycare.Name}}</td>
      <td>{{daycare.Age_Group}}</td>
      <td>{{daycare.Phone_Number}}</td>
      <td><a href="mailto:{{daycare.Email}}">{{daycare.Email}}</a></td>
      <td>{{daycare.City}}</td>
      <td>{{daycare.Address}}</td>
      {{!-- <td><a href="{{daycare.Details}}">{{daycare.Details}}</a></td> --}}
      <td><a href="{{daycare.Details}}">link</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
    document.getElementById("wrapper").style.display="none";
    document.getElementById("main").style.display="block";
  </script>


