<!--<div class="daycare">
{{#each cities as |city|}}
<section class="card" id ="card">
  <a href="/daycare/{{city.city}}">
    <header id="title">{{city.city}}</header>
    <img src="/images/{{city.city}}.jpg" alt="{{city.city}}">
  </a>
</section>
{{/each}}

</div>-->
<section class="hero is-success is-fullheight">
  <div class="container">
   
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: black;">Your search ends here</h1><br>
          </div>
        </div>
        <div class="daycare">
        {{#each cities as |city|}}
        <section class="card" id ="card">
          <a href="/daycare/{{city.city}}">
            <header id="title">{{city.city}}</header>
             <img src="/images/{{city.city}}.jpg" alt="{{city.city}}">
          </a>
        </section>
        {{/each}}

      </div>  
       
        
                  
               
                
    </div>
  </div> 
</section>  

